{% extends "rig/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<html lang="en">
  <body>
   <main>
      <div class="container-fluid g-pb-20  g-py-50">
        <div class="row justify-content-center">
          <div class="col-md-5 col-lg-3 g-mb-70">
          <!-- Property Type -->
            <div class="g-bg-secondary g-pa-5 g-mb-30">
              <div class="g-bg-white g-pa-15">
                <h2 class="h6 g-font-weight-600 mb-4">Categories</h2>

                <ul class="list-unstyled g-font-weight-500 mb-0">
                   {% for item in categories  %} 
                      <li class="g-py-2">
                        <a href="#"><i class="mr-1 fa fa-caret-right"></i> {{item.name}}</a>                    
                      </li>
                    {%endfor%}
                </ul>
              </div>
            </div>
            <!-- End Property Type -->
          
            <!-- Popular Properties -->
            <div class="g-bg-secondary g-pa-5 g-mb-30">
              <div class="g-bg-white g-pa-15">
                <h2 class="h6 g-font-weight-600 mb-4">Popular Products</h2>

                <ul class="list-unstyled g-font-weight-500 mb-0">
                  <!-- Popular Properties - Products -->
                  <li class=" g-pb-30">
                    <img class="img-fluid w-100 mb-3" src="{% static 'rig/img-temp/400x250/img02.png' alt="..." %}">
                    <h3 class="h6 g-font-weight-600 mb-1"><a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Compressors</a></h3>
                  </li>
                  <!-- End Popular Properties - Products -->
                </ul>
              </div>
            </div>
            <!-- End Popular Properties -->
          </div>
          
          
          <div class="col-lg-9 g-mb-10">
            <!-- Listing - Description -->
            <div class=" g-pb-30">
              <div class="row">
               <div class="col-sm-6 g-mb-10"><img class="img-fluid g-mb-10" src="{% static 'rig/img-temp/600x450/img.jpg' alt="..." %}">
                   <div class="text-center">
                       <button class="btn u-btn-primary text-uppercase rounded-0 g-px-25 g-py-13" type="submit" role="button">Sell Your Product</button>
                       <button class="btn u-btn-primary text-uppercase rounded-0 g-px-25 g-py-13" type="submit" role="button">Post Your Requirement</button>
                   </div>
               </div>
               <div class="col-sm-6 g-mb-10"><img class="img-fluid" src="{% static 'rig/img-temp/600x450/img.jpg' alt="..." %}"></div>

                <div class="col-md-9 g-mb-30">
                
                
         <!-- New Lands -->
      <div class="container-fluid text-center g-pt-5 g-pb-40">
        <h2 class="h4 g-mb-30">All Listed Categories</h2>
        <!-- Products - Carousel Image -->

        
      </div>
      <!-- End New Lands -->       
        <!-- New Lands -->
        <div class="container-fluid text-center g-pt-5 g-pb-40">
        <h2 class="h4 g-mb-30">Cabins: Favourite Listed Products</h2>

        <!-- Products - Carousel Image -->
        
      </div>
      <!-- End New Lands -->
                </div>
                
                 <div class="col-md-3 g-mb-30">                  
                  <img class="img-fluid w-100 mb-3" src="{% static 'rig/img-temp/400x250/img01.png' alt="..." %}">
                  <img class="img-fluid w-100 mb-3" src="{% static 'rig/img-temp/400x250/img0.png' alt="..." %}">                  
                </div>
              </div>
            </div>
            <!-- End Listing - Description -->

          </div>
        </div>
      </div>
      <hr class="g-brd-gray-light-v4">
    </main>
  </body>
</html>
{% endblock content %}