{% extends "divinespark/base.html" %} 
{% load static %} 
{% load crispy_forms_tags %}



<div id="div-prayer-requests">
  {% block content %}

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#"><i class="fa fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Profile 
              </li>
              <div class="content-section mt-50">
                <div class="media">
                  <img class="rounded-circle account-img"  src="{{ user.profile.image.url }}">
                   
                </div>
                <div class="">
                <form  method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="content-section">
                       
                        <fieldset class="form-group">
                          <h4><legend class="border-bottom mb-4">{{ user.username }}</legend></h4>
                          <p class="text-secondary">{{ user.email }}</p> 
                           {{p_form | crispy}}
                           {{u_form | crispy}}
                        </fieldset>

                        <div class="form-group">
                          <button type="submit" class="btn btn-outline-info crose-btn mt-5">
                            Update
                          </button>
                        </div>
                      </div>
                    </form>
                     </div>

              </div>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->
  <section class="upcoming-events-area section-padding-0-100">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <!-- ##### Contact Form Area Start ##### -->
          <div class="contact-form section-padding-0-100">
            <div class="container">
              <div class="row">
                <!-- Section Heading -->
               
              </div>

              <div class="row float-right">
                <div class="col-12 ">
                  <!-- Contact Form Area -->

                  <div class="contact-form-area">

                    <div class="border-top pt-3">
                      <small class="text-muted">
                        Profile Data :
                        Contact Info :
                        Edit Profile Information :
                        rig Profile Pic :
                        <a  href="#">More...</a>
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ##### Contact Form Area End ##### -->
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
</div>
